/* built-in css start */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.logo{
    width: 25%;
}
.nav-menu{
    width: 50%;
}
.menu-btn{
    width: 25%;
}
.semi-bold{
    font-weight: 600;
}
.prev-bold{
    font-weight: 700;
}
.bold{
    font-weight: 800;
}
.super-bold{
    font-weight: 900;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.btn-white{
    background-color: #ffff;
    color: #0085FE;
}
.btn-blue{
    background-color: #0085FE;
    color: #ffff;
}
.btn-gray{
    font-size: 17px;
    padding: 15px 45px;
    display: inline-block;
    background-color: #E7F0FD;
    color: #0085FE;
}
.btn i{
    margin-left: 10px;
    font-size: 20px;
}
.bg-light{
    background-color: #EFF7FF;
}

/* built-in css end */
/* header section start */

#header-section{
    padding: 30px 0;
}
.hiring{
    background-color: #00d6bb;
    color: #00495B;
    padding: 8px 15px;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 0 50px 50px 50px;
}
.nav-menu{
    margin-left: 10px;
}
.nav-menu ul li{
    padding: 0 20px;
    display: inline-block;
    font-weight: 600;
    color: #001E4F;
    font-size: 17px;
}
.menu-btn a{
    margin-left: 15px;
}

/* header section end */
/* banner section start */

#banner-section{
    padding: 60px 0 80px 0;
}
.banner-text h1{
    font-size: 70px;
    line-height: 75px;
    color: #001E4F;
}
.banner-text p, .ticket-text p, .feature-text p{
    font-size: 16px;
    line-height: 30px;
    color: #687587;
    padding-right: 80px;
    margin: 25px 0 25px 0;
}
.banner-text > .btn{
    font-size: 17px;
    padding: 15px 45px;
    display: inline-block;
}
.banner-text span{
    font-size: 17px;
    display: block;
    color: #001E4F;
    font-weight: 500;
    margin-top: 100px;
}
.banner-text span a{
    color: #001E4F;
}

/* banner section end */
/* client section start */

#client-section{
    padding: 50px 0;
}
.client-text p{
    font-size: 18px;
    color: #001E4F;
}
.client-logo img{
    width: 170px;
}

/* client section end */
/* ticket section start */

#ticket-section{
    margin: 30px 0 80px 0;
}
.ticket-text{
    margin-left: 80px;
}
.ticket-text h1{
    font-size: 45px;
    line-height: 55px;
    color: #001E4F;
}
.ticket-img img, .banner-img img, .feature-img img{
    width: 600px;
}

/* ticket section end */
/* feature section start */

#feature-section{
    padding: 80px 0;
    background-color: #001E4F;
}
#feature-section h1{
    font-size: 45px;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}
.feature-text img{
    width: 500px;
    margin-left: -10px;
}
.feature-text h2{
    font-size: 32px;
    color: #fff;
    margin: 60px 0 20px 0;
}
.icon-text{
    margin-bottom: 10px;
}
.icon-text p{
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    display: inline;
}
.icon-text i{
    background-color: #00D4BC;
    border-radius: 50px;
    color: #000;
    padding: 4px;
    font-size: 12px;
}
.feature-text > .btn{
    margin-top: 30px;
    background-color: #2E4773;
    color: #fff;
}